@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .swiper-button-prev {
    @apply !text-default-900;
  }

  .swiper-button-next {
    @apply !text-default-900;
  }

  .swiper-pagination-bullet-active {
    @apply !bg-default-900;
  }
}

/* Import the Material Design Icons font and CSS */
@import "material-symbols";

* {
  font-family: "Noto Sans Arabic Variable", sans-serif;
}

.PhotoView-Portal {
  direction: ltr !important;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg font-medium;
  }
  h6 {
    @apply text-base font-medium;
  }
}

/* ckeditor */
.ckeditor-output p,
.ckeditor-output h1,
.ckeditor-output h2,
.ckeditor-output h3,
.ckeditor-output ul,
.ckeditor-output ol,
.ckeditor-output li,
.ckeditor-output blockquote,
.ckeditor-output strong,
.ckeditor-output em {
  all: revert;
  display: revert;
}

.ckeditor-output * {
  font-family: "Noto Sans Arabic Variable", sans-serif !important;
  font-size: 16px !important;
  line-height: 1.6 !important;
}

.ckeditor-output img {
  object-fit: contain;
}

/* icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}
