@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the Material Design Icons font and CSS */
@import "material-symbols";

* {
  font-family: "Noto Sans Arabic Variable", sans-serif;
}

.PhotoView-Portal {
  direction: ltr !important;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg font-medium;
  }
  h6 {
    @apply text-base font-medium;
  }
}

@layer components {
  .my-react-select-container .my-react-select__control {
    @apply bg-transparent min-h-[3rem] border-default-200 rounded-xl border-[1px] hover:border-default-400 focus:border-primary;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-primary hover:border-default-700 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-default-50 border-[1px] border-default-300 rounded-xl;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-default-800 hover:bg-default-100 bg-default-50 rounded-xl;
  }

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-default-400 rounded-xl;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-default-800 rounded-xl;
  }

  .swiper-button-prev {
    @apply !text-default-900;
  }

  .swiper-button-next {
    @apply !text-default-900;
  }
}

/* ckeditor */
.ckeditor-output p,
.ckeditor-output h1,
.ckeditor-output h2,
.ckeditor-output h3,
.ckeditor-output ul,
.ckeditor-output ol,
.ckeditor-output li,
.ckeditor-output blockquote,
.ckeditor-output strong,
.ckeditor-output em {
  all: revert;
  display: revert;
}

/* می‌تونی فونت و سایز رو هم سفارشی بدی */
.ckeditor-output {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  color: #111;
  line-height: 1.6;
}
